In [ ]:
#string data type

In [1]:
name='vijaya'

In [2]:
print(name)

vijaya

In [3]:
name="vijayalakshmi"

In [4]:
print(name)

vijayalakshmi

In [5]:
print(name.title())

Vijayalakshmi

In [6]:
print(name.upper())

VIJAYALAKSHMI

In [7]:
print(name.lower())

vijayalakshmi

In [ ]:
#introduction to f strings

In [8]:
first_name='vijaya'
last_name='lakshmi'

In [9]:
full_name="f{first_name} {last_name}"

In [10]:
print(full_name)

f{first_name} {last_name}

In [12]:
full_name=f"{first_name}{last_name}"

In [13]:
print(full_name)

vijayalakshmi

In [ ]:
#adding white spaces to strings

In [15]:
print('python')

python

In [16]:
print('\tpython')

	python

In [17]:
print('\n python')

 python

In [18]:
fav_lang=' python'
fav_lang2='java '

In [19]:
print(fav_lang)

 python

In [20]:
print(fav_lang2)

java

In [21]:
fav_lang.lstrip()

'python'

In [22]:
fav_lang2.rstrip()

'java'

In [23]:
fav_lang3=' swift '
print(fav_lang3)

 swift

In [24]:
fav_lang3.strip()

'swift'

In [ ]:
#introduction to operations in numbers

In [25]:
3+2

5

In [26]:
10-2

8

In [27]:
6*2

12

In [28]:
7/2

3.5

In [ ]:
#squares and cubes

In [30]:
5**2

25

In [31]:
5**3

125

In [ ]:
#decimal data types

In [32]:
3.7+4.2

7.9

In [ ]:
#data type verification

In [33]:
a=12
b=20
c=a*b
print(c)

240

In [34]:
type(c)

int

In [35]:
a=3.5
b=2.1
c=a*b
print(c)

7.3500000000000005

In [36]:
type(c)

float

In [ ]:
#introduction to list data type

In [37]:
fruits=['apple','banana','grapes','kiwi','papaya']

In [38]:
print(fruits)

['apple', 'banana', 'grapes', 'kiwi', 'papaya']

In [39]:
type(fruits)

list

In [41]:
print(fruits[2])

grapes

In [42]:
print(fruits[-2])

kiwi

In [43]:
print(fruits[-2].title())

Kiwi

In [44]:
print(fruits[-3].upper())

GRAPES

In [ ]:
#changing,adding,removing elements from a list

In [1]:
fruits=['apple','banana','grapes','kiwi','papaya']

In [2]:
print(fruits)

['apple', 'banana', 'grapes', 'kiwi', 'papaya']

In [3]:
fruits[2]='orange'

In [4]:
print(fruits)

['apple', 'banana', 'orange', 'kiwi', 'papaya']

In [5]:
fruits.append('watermelon')

In [6]:
print(fruits)

['apple', 'banana', 'orange', 'kiwi', 'papaya', 'watermelon']

In [7]:
fruits.insert(1,'chiku')

In [8]:
print(fruits)

['apple', 'chiku', 'banana', 'orange', 'kiwi', 'papaya', 'watermelon']